@import '~@nebular/theme/styles/global/breakpoints';
@import '../../../@theme/styles/themes.scss';

@include nb-install-component() {
  nb-icon.small {
    font-size: .9rem;
  }
  nb-icon.big {
    font-size: 1.6rem;
  }
  .heading {
    background-color: white;
    padding: 20px 50px;
  }
  .question {
    color: #222b45;
    font-family: Open Sans,sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
  }
  .date-and-level {
    display: flex;
    flex-wrap: wrap;
    .date-container, .level-container {
      margin-bottom: 1rem;
        @include media-breakpoint-up(sm) {
          margin-bottom: 0;
        }
      .date-text, .level-text {
        color: #B5B5C3;
        font-family: Open Sans,sans-serif;
        font-size: .9rem;
        font-weight: 600;
        line-height: .9rem;
        margin-bottom: 0.4rem;
        @include media-breakpoint-up(sm) {
          margin-bottom: 0.6rem;
        }
      }
      .label-bar {
        padding-top: 0.45rem;
      }
      .date-label {
        padding: 0.4rem 0.8rem;
        font-size: 0.8rem;
        line-height: 1.1;
        border-radius: 0.42rem;
        display: inline-block;
        border: 1px solid transparent;
        text-transform: uppercase !important;
        outline: none !important;
        vertical-align: middle;
        color: #3699FF;
        background-color: #E1F0FF;
        border-color: transparent;
        font-weight: 600;
        text-align: center;
      }
    }
    .date-container {
      margin-right: 0.2rem;
      @include media-breakpoint-up(sm) {
        margin-right: 2rem;
      }
    }
  }
  .icon-text-container {
    display: flex;
    flex-wrap: wrap;
    .iconText {
      color: #B5B5C3;
      font-family: Open Sans,sans-serif;
      font-size: .9rem;
      font-weight: 600;
      line-height: .9rem;
      margin-right: 1.5rem;
      margin-bottom: 0.6rem;
    }
    .multiple-text-line {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      div {
        display: flex;
        flex-direction: column;
        padding-left: 0.3rem;
        .icon-text-heading {
          font-size: 0.6rem;
        }
      }
    }
  }

  .options-container {
    .each-option {
      display: grid;
      grid-template-columns: 40px 1fr 80px;
      .answer-text {
        color: #222b45;
        font-family: Open Sans,sans-serif;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.5rem;
      }
      .button-container {
        display: flex;
      }
    }
    .transparentButton {
      background-color: transparent;
      border: none;
      padding: 5px 10px;
      outline: none;
      z-index: 1000;
    }
  }
}