<div class="question-item-container">
  <nb-card>
    <nb-card-body>
      <div class="icon-text-container">
        <div class="iconText">
          <nb-icon class="small" icon="person"></nb-icon>
          <span>mritunjay@upadhyay.com</span>
        </div>
        <div class="iconText">
          <nb-icon class="small" icon="pin"></nb-icon>
          <span>Pragati Shil Hindi Vidyalaya</span>
        </div>
      </div>
      <p class="question">Who is greatest king of Gupta Dynesty?</p>
      <div class="date-and-level">
        <div class="date-container">
          <p class="date-text">
            Created At
          </p>
          <div class="date-label">
            {{ todayDate | date }}
          </div>
        </div>
        <div class="level-container">
          <p class="level-text">
            Question Level
          </p>
          <div class="label-bar">
            <school-management-progress-bar maxPoint=5 point=2 status="success"></school-management-progress-bar>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <div class="icon-text-container">
        <div class="iconText multiple-text-line">
          <nb-icon class="big" icon="book-open"></nb-icon>
          <div>
            <span class="icon-text-heading">Subject</span>
            <span>History</span>
          </div>
        </div>
        <div class="iconText multiple-text-line">
          <nb-icon class="big" icon="star"></nb-icon>
          <div>
            <span class="icon-text-heading">Standard</span>
            <span>9</span>
          </div>
        </div>
        <div class="iconText multiple-text-line">
          <nb-icon class="big" icon="options-2"></nb-icon>
          <div>
            <span class="icon-text-heading">Options</span>
            <span>4</span>
          </div>
        </div>
        <div class="iconText multiple-text-line">
          <nb-icon class="big" icon="checkmark"></nb-icon>
          <div>
            <span class="icon-text-heading">Correct Answer</span>
            <span>2</span>
          </div>
        </div>
      </div>
    </nb-card-footer>
  </nb-card>
</div>

<div class="options-container">
  <nb-card>
    <nb-card-body>
      <div 
        *ngFor="let option of options"
        class="each-option"
      >
      <nb-checkbox [checked]="option.correct" status="danger" disabled></nb-checkbox>
          <p class="answer-text">
            {{ option.text }}
          </p>
          <div class="button-container">
            <div class="transparentButton">
              <nb-icon icon="edit" status="warning" class="big"></nb-icon>
            </div>
            <div class="transparentButton">
              <nb-icon icon="close" status="danger" class="big"></nb-icon>
            </div>
          </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>